.footer {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 4rem;
    align-items: center;
    background-color: #F8F6FE;
}

.footer>span {
    font-size: .8rem;
    font-weight: bold;
    color: black ;
    font-family: Ambit5,inherit auto;
    letter-spacing: 1px;

}

.footer>ul {
    list-style: none;
    display: flex;
    gap: 1.2rem;
    align-items: center;
}
.footer>ul>li {
    font-size: .8rem;
    color: #16063E;
    cursor: pointer;
    font-family: Ambit5,inherit auto;
}

.footer>div{
    display: flex;
    gap: .8rem;
    align-items: center;
}
.footer>div>img{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}


@media screen and (max-width:768px) {

    .footer {
        display: flex;
        justify-content: space-between;
        padding: 3rem 2rem 5rem;
        align-items: flex-start;
        flex-direction: column;
        gap: 2rem;
    }

    .footer>ul {
        list-style: none;
        display: flex;
        gap: 1.1rem;
        align-items: flex-start;
        flex-direction: column;;
    }
    .footer>ul>li {
        font-size: .96rem;
        color: #16063E;
        cursor: pointer;
        font-family: Ambit5,inherit auto;
    }
    

}